ipykernel==6.15.2
ipython==7.31.1
ipython-genutils==0.2.0
jupyter_client==7.3.5
jupyter-core==4.10.0
jupyter-server==1.18.1
jupyterlab==3.4.7
jupyterlab-pygments==0.1.2
jupyterlab-server==2.12.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.4
matplotlib==3.5.2
matplotlib-inline==0.1.6
numexpr==2.8.3
numpy==1.21.5
numpydoc==1.4.0
pandas==1.4.4
scikit-learn==1.1.1
scipy==1.7.3
tensorboard==2.9.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.3.0
tensorflow-estimator==2.6.0
